services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always
    depends_on:
      - db
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      resources:
        limits:
          memory: 1500m
        reservations:
          memory: 512m
    networks:
      - issue_app-network
  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - issuetracker_db_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    restart: always
    deploy:
      resources:
        limits:
          memory: 1500m
        reservations:
          memory: 512m
    networks:
      - issue_app-network
networks:
  issue_app-network:
    driver: bridge
volumes:
  issuetracker_db_data: